html {
  font-family: "Roboto";
  font-size: 22px;
  background-color: #f2f2f2;
}
.container {
  height: 100vh;
  border: 5px solid white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr 10fr;
  grid-template-areas:
    "sidebar header header"
    "sidebar nav nav"
    "sidebar hero hero";
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: header;
  background-color: white;
}
.search {
  display: flex;
  align-items: center;
}
.search-btn {
  background-color: white;
  border: none;
}
.search-bar {
  width: 500px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: whitesmoke;
}
.search-bar {
  outline-color: skyblue;
  padding-left: 10px;
}
.profile {
  display: flex;
  list-style: none;
  align-items: center;
}
.pfp {
  border-radius: 25px;
}
li {
  margin: 0px 20px;
}
.notification {
  border: none;
  background-color: white;
  margin-bottom: 6px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: sidebar;
  background-color: white;
}
.dashboard {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  margin: 0 20px;
  padding-left: 0px;
}
.choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  margin-bottom: 15px;
}
.menu:first-child {
  margin-top: 50px;
  background-color: #f2f2f2;
  padding: 16px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.menu:last-child {
  margin-bottom: 1000px !important;
}
.settings {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 22px;
  font-size: 19px;
}
.settings:first-child {
  margin-top: 100px;
}
.settings-text {
  padding-left: 4px;
}
.nav {
  grid-area: nav;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}
.profile-2 {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}
.greeting {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.hi {
  margin-bottom: 0px;
  font-size: 16px;
}
.name {
  margin-top: 6px;
}
.pfp {
  align-self: center;
  border-radius: 50%;
}
.options-2 {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.options-2 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}
.options-2 button {
  background-color: whitesmoke; /* Green */
  border: #ccc;
  color: black;
  border-radius: 15px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.options-2 button:hover {
  background-color: #ccc;
}
.hero {
  display: flex;
  flex-direction: column;
  grid-area: hero;
  background-color: white !important;
}
.hero-title {
  margin-left: 50px;
  margin-bottom: 0px;
}
.hero-title ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 14px;
}
.hero-title ul li {
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 0px;
}
.hero-title h2 {
  margin: 0px 0px;
}
.projects {
  justify-content: center;
  margin-top: 80px;
  margin-right: 200px;
  display: flex;
}
.projects ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none !important;
}
.projects ul li {
  margin: 0px 70px;
}
.projects ul li:first-child {
  margin-left: 100px;
}
